@media (max-width: 1800px) {
    #nome {
            text-align: center;
            width: 81%;
            background-color: #EBB34C    ;
            margin: auto;
            margin-top: 10px;
            color: #AA2707  ;
        }
        body {
            font-family: verdana, helvetica, sans-serif;
            color: #444;
            margin: auto;
            width: 80%;
            
        }
        

        .sub1 {
            font-size: 25px;
            background-color: #D7867A ;
            padding: 7px;
            color: red;
            font-weight: bold;
            width: 80%;
            margin: auto;
            border-bottom: solid 3px red;
            ;
            
        }

        .subtitulo {
            font-size: 20px;
            margin-left: 10%;

        }

        span {
            color: blue;          
        }

        a:hover , a:visited , a {
            text-decoration: none;
            color: blue;
        }
        .p2 {
            margin-left: 10%;
            font-size: 15px;
            margin-right: 10%;
        }

        ul{
            margin-left: 7%;
            margin-right: 10%;
        }
}